.Button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  line-height: 1.2;
  position: relative; /* For focus ring */
}
.Button___primary {
  color: #323230;
  background-color: #f7d964;
}
.Button___secondary {
  color: white;
  background-color: transparent;
  box-shadow: rgba(255, 255, 255, 0.15) 0px 0px 0px 1px inset;
}
.Button___small {
  font-size: 12px;
  padding: 10px 16px;
}
.Button___medium {
  font-size: 14px;
  padding: 11px 20px;
  height: 36px;
}
.Button___large {
  font-size: 16px;
  padding: 12px 24px;
}

.Button:focus::after {
  content: "";
  display: block;
  position: absolute;
  top: -6px;
  bottom: -6px;
  left: -6px;
  right: -6px;
  border-radius: 6px;

  /* This will be turned off if :focus-visible is supported */
  border: 2px solid var(--color-border-accent);
}

.Button:focus-visible::after {
  border: 2px solid var(--color-border-accent);
}

.Button:focus:not(:focus-visible)::after {
  border: none;
}
